  <nav class="navbar navbar-expand-sm navbar-light " id="neubar">
    <div class="container">
      <a class="navbar-brand fs-3" >
        <img src="assets/Logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
        Diagnostico Medico
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 fw-bolder" aria-current="page" [routerLink]="'/Inicio'">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 fw-bolder" aria-current="page" [routerLink]="'/DatosMedicos'">Datos Medicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 fw-bolder" aria-current="page" [routerLink]="'/Consultar'">Ir a consulta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 fw-bolder" aria-current="page" [routerLink]="'/Historial'">Historial Medico</a>
          </li>
          <li class="dropdown">
            <button class="btn btn-success dropdown-toggle fw-bolder" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{usuario}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" aria-current="page" [routerLink]="'/Perfil'">
                <mat-icon class="d-inline-block align-text-top" aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
                Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class=" btn dropdown-item" (click)="cerrarSesion()">
                    <mat-icon class="d-inline-block align-text-top" aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
                    Cerrar Sesión
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>